﻿@using BlogMvc.Library.Dynamic
@using System.Reflection;
@model BlogMvc.Library.HtmlHelpers.Table.TableModel


<table class="table table-bordered">
    <thead>
        <tr>
            @foreach (string column in Model.TableHeader.Keys)
            {
                <td>
                    @column
                </td>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (dynamic item in Model.TableBody)
        {
            <tr>
                @foreach (string property in Model.TableHeader.Values)
                {
                    <td>
                        @{ 
                            PropertyInfo info = DynamicWorkshop.GetDynamicPropertyByName(item, property);
                        }
                        @(info.GetValue(item))
                    </td>
                }
            </tr>
        }

    </tbody>
</table>
