﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full" src="@(Url.Content("~/Content/img/slide-1.jpg"))" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="@(Url.Content("~/Content/img/slide-2.jpg"))" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" src="@(Url.Content("~/Content/img/slide-3.jpg"))" alt="">
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <h2 class="brand-before">
                    <small>Witamy w</small>
                </h2>
                <h1 class="brand-name">CHutorze</h1>
                <hr class="tagline-divider">
                <h2>
                    <small>
                        By
                        <strong>rNest</strong>
                    </small>
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @RenderBody()
            </div>
        </div>
    </div>

   
</div>

@section scripts{
    @RenderSection("scripts", required: false)
}