﻿@using BlogMvc.Models.AppModels
@model IEnumerable<BlogMvc.Models.AppModels.AppPerson>

@{
    ViewBag.Title = "People";
}


@using (Html.BeginRowBox())
{
    using (Html.BeginColumn(12))
    {
        <div>
            @(Html.UI().Table(Model)
            .Column(c => c.ID, "Id")
            .Column(c => c.FirstName, "Imię")
            .Column(c => c.LastName, "Nazwisko")
            .Column(c => c.ModifiedBy)
            .Column(c => c.ModifiedOn)
            .Column(c => c.PersonType)
            .Column(c => c.Phone)
            .Column(c => c.RawGuid));
        </div>
        
    }
}

