﻿@model IEnumerable<BlogMvc.Models.AppModels.Article>
@using BlogMvc.Models.AppModels

@{
    ViewBag.Title = "Index";
}

<hr />

@using (Html.UI().BeginRowBox("row text-left"))
{
    using (Html.UI().BeginColumn(3))
    {
        @Html.ActionLink("Nowy artykuł", "Create", "Article", new { Area = "Articles" }, null)
    }

}


@(Html.UI().Table(Model)
    .Column(c => c.ID)
    .Column(c => c.Content, "Treść")
    .Column(c => c.CreatedBy)
    .Column(c => c.CreatedOn, "Utworzone")
    .Column(c => c.Description)
    .Column(c => c.ModifiedBy, "Zmodyfikowane przez")
    .Column(c => c.ModifiedOn)
    .Column(c => c.SubTitle, "Krótki opis")
    .Column(c => c.Title, "Tytuł")
)
<hr />
@Html.UI().SpanText("Kornelia")
<hr />

@using (Html.UI().BeginRowBox("row text-center", "rowid"))
{
    using (Html.UI().BeginColumn(3))
    {
        <div>
            @Html.UI().SpanText("Kordelia")
        </div>
    }
    using (Html.UI().BeginColumn(3))
    {
        <div>
            @Html.UI().SpanText("Kornelia")
        </div>
    }
    using (Html.UI().BeginColumn(3))
    {
        <div>
            @Html.UI().SpanText("Kamila")
        </div>
    }

    using (Html.UI().BeginColumn(3))
    {
        using (Html.UI().BeginLink("http://google.pl", "linkid", null, true))
        {
            @Html.UI().SpanText("Wewnatrz linka")
        }
    }
}

<hr />

