﻿
@{
    ViewBag.Title = "Test";
}

@using (Html.UI().BeginContainer(null, null, "color:red;font-size:10px;"))
{
    using (Html.UI().BeginRowBox())
    {
        using (Html.UI().BeginColumn(4))
        {
            using (Html.UI().BeginBox(null, "internal"))
            {
                @Html.UI().Link("http://www.google.pl", "Link do Google", null, null, true)
            }
        }

        using (Html.UI().BeginColumn(4))
        {
            using (Html.UI().BeginBox(null, "internal"))
            {
                using (Html.UI().BeginLink("#"))
                {
                    <text>Przykładowy tekst</text>
                }
            }
        }

        using (Html.UI().BeginColumn(4))
        {
            using (Html.UI().BeginBox("second", "internal"))
            {
                using (Html.UI().BeginBox())
                {
                    <p>Tekst w div</p>
                }
            }
        }
    }
}

